.rodape{
    background-color: black;
    color: #978f15;
    text-align: right;
    padding: 1.5625 5rem;
    text-transform: lowercase;
    font-size: 2rem;
    width: 1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    
}